{% extends 'base.html' %}
{% load static %}


{% block title %}Publicaciones - SelvaNica{% endblock %}

{% block content %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Publicaciones</h2>

<a href="{% url 'publicacion_create' %}" class="boton-principal">Nueva publicación</a>

<ul>
  {% for publicacion in publicaciones %}
    <li style="margin-bottom: 20px;">
      <a href="{% url 'publicacion_detail' publicacion.pk %}">
        <strong>{{ publicacion.titulo }}</strong> - {{ publicacion.especie.nombre_comun }}
      </a><br>

      {% if publicacion.imagen_principal %}
        <img src="{{ publicacion.imagen_principal.url }}" alt="{{ publicacion.titulo }}" style="max-width: 200px;">
      {% else %}
        <p>Sin imagen</p>
      {% endif %}

      <p>Publicado por: {{ publicacion.autor.username }}</p>
    <p>Likes: {{ publicacion.likes.count }}</p>
    <p><strong>Publicado el:</strong> {{ publicacion.fecha_publicacion|date:"d/m/Y H:i" }}</p>

    </li>
  {% empty %}
    <li>No hay publicaciones todavía.</li>
  {% endfor %}
</ul>

{% endblock %}
